body {
  margin: 0;
  font-family: EuclidCircular, arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.overflow {
  overflow: hidden;
}

.app-stars {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: close-quote;
  opacity: 1;
  z-index: 1;
  position: absolute;
  background-image: url('https://thegraph.com/explorer/images/stars.png');
  pointer-events: none;
  animation: opacitychange2 10s infinite, rotate2 30s infinite;
  animation-timing-function: linear;
}

.app-nova {
  background-color: initial;
  top: -150%;
  left: -150%;
  width: 300vw;
  height: 300vh;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  background-image: url('https://thegraph.com/explorer/images/nova.png');
  background-size: 100% auto;
  pointer-events: none;
  animation: opacitychange1 10s infinite, rotate1 30s infinite;
  animation-timing-function: linear;
}

.app-cold-nova {
  background-color: initial;
  top: -150%;
  left: -150%;
  width: 300vw;
  height: 300vh;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  opacity: 0.1;
  background-image: url('https://thegraph.com/images/landing/haze/cold-1.svg');
  background-size: 100% auto;
  pointer-events: none;
  animation: opacitychange2 10s infinite, rotate1 30s infinite;
  animation-timing-function: linear;
}


@keyframes opacitychange1 {
  0% {opacity: 0.25;  transform: rotate(0deg);}
  50% {opacity: 1; transform: rotate(180deg);}
  100% {opacity: 0.25; transform: rotate(0deg);}
}

@keyframes opacitychange2 {
  0% {opacity: 1; transform: rotate(360deg);}
  50% {opacity: 0.25; transform: rotate(180deg);}
  100% {opacity: 1; transform: rotate(0deg);}
}

@keyframes rotate1 {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(180deg);}
  100% {transform: rotate(0deg);}
}

@keyframes rotate2 {
  0% {transform: rotate(360deg);}
  50% {transform: rotate(180deg);}
  100% {transform: rotate(0deg);}
}

.project {
  height: 20vh;
  min-height: 20vh;
  margin: 1vh;
  display: flex;
  justify-content:center;
  align-items: center;
}

.day {
  background-color:white !important; 
  color: rgb(209, 73, 157);
  text-shadow: 0 0 80px rgba(192,219,255,0.48), 0 0 32px rgba(65,120,255,0.24);
}

.header {
  margin-bottom: 4vh;
  font-size: 2.5vh; 
  background-color:rgba(19, 18, 18, 0.795);
  border-radius: 10px;
  border: 1px solid rgba(209, 73, 157, 0.692);
  box-shadow: rgba(151, 41, 112, 0.4) 0.375rem 0.375rem 1.5rem, rgba(151, 41, 112, 0.05) -0.375rem -0.375rem 1.5rem;
  padding: 0.5vw;
  margin-top: 2vh;
}

.night {
  background-color: black;
  color: rgb(209, 73, 157);
}

.main-container {
  background-color:rgba(19, 18, 18, 0.795);
  border-radius: 10px;
  border: 1px solid rgba(209, 73, 157, 0.692);
  box-shadow: rgba(151, 41, 112, 0.4) 0.375rem 0.375rem 1.5rem, rgba(151, 41, 112, 0.05) -0.375rem -0.375rem 1.5rem;
  width: 40vw;
}

.main-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sub-container {
  display: flex;
  flex-direction: column;
}

.sub-options {
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(209, 73, 157);
  justify-content: space-between;
  background-color:rgba(44, 42, 42, 0.329);
  padding: 0.25vw;
  border-radius: 40px;
  margin-left: 1vw;
  margin-right: 1vw;
}

.subcontainer-option {
  width: 5vh;
  height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(min(3vh,2vw));
  border: 1px solid rgb(209, 73, 157);
  background-color:rgba(49, 46, 46, 0.795);
  border-radius: 50%;
  margin-top: 0vw;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  margin-bottom: 0vw;
  transition: 0.35s;
  user-select: none;
  cursor: pointer;
}

.subcontainer-option.selected {
  box-shadow: rgba(151, 41, 112, 0.4) 0.375rem 0.375rem 1.5rem, rgba(151, 41, 112, 0.05) -0.375rem -0.375rem 1.5rem;
  background-color:rgba(49, 46, 46, 0.795);
  width: 5vh;
  height: 5vh;
  border: 3px solid rgb(209, 73, 157);
}

.subcontainer-option:hover {
  box-shadow: rgba(151, 41, 112, 0.4) 0.375rem 0.375rem 1.5rem, rgba(151, 41, 112, 0.05) -0.375rem -0.375rem 1.5rem;
}

.subcontainer-image {
  background-size: 40px 40px;
  border-radius: 50%;
  width: 40px;
}

.subcontainer-image.selected {
  background-size: 40px 40px;
  border-radius: 50%;
  width: 40px;
}

.container-option {
  width: 5vw;
  height: 5vh;
  padding: 0 0.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(min(2vh,1vw));
  border: 1px solid rgb(209, 73, 157);
  background-color:rgba(44, 42, 42, 0.329);
  border-radius: 2px;
  margin: 1vw;
  transition: 0.35s;
  user-select: none;
  cursor: pointer;
}

.container-option.selected {
  box-shadow: rgba(151, 41, 112, 0.4) 0.375rem 0.375rem 1.5rem, rgba(151, 41, 112, 0.05) -0.375rem -0.375rem 1.5rem;
  background-color:rgba(49, 46, 46, 0.795);
  width: 10vw;
  font-size: calc(min(3vh,2vw));
}


.container-option:hover{
  box-shadow: rgba(151, 41, 112, 0.4) 0.375rem 0.375rem 1.5rem, rgba(151, 41, 112, 0.05) -0.375rem -0.375rem 1.5rem;
}

.bubble {
  background-color: white;
  background-size: 40px 40px;
  border-radius: 50%;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1), 0 3px 10px rgba(0, 0, 0, 0.1);
  height: 40px;
  margin-right: 20px;
  position: absolute;
  transition: opacity ease-in-out 1s;
  width: 40px;
}

.item-container {
  width: 36vw;
  height: 30vh;
  display: flex;
  text-align: left;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  font-size: calc(min(2vh,1vw));
  border: 1px solid rgb(209, 73, 157);
  background-color:rgba(44, 42, 42, 0.329);
  border-radius: 10px;
  margin: 1vw;
  padding: 1vw;
  transition: 0.5s;
}

.item-name {
  color: rgba(255,255,255,0.96);
  text-shadow: 0 0 80px rgba(192,219,255,0.48), 0 0 32px rgba(65,120,255,0.24);
  margin-right: 0.5vw;
  font-weight: bold;
}

.tech-name {
  color: rgba(255,255,255,0.96);
  text-shadow: 0 0 80px rgba(192,219,255,0.48), 0 0 32px rgba(65,120,255,0.24);
  margin-right: 0.5vw;
  font-weight: bold;
  margin-top: 2vh; 
}

.tech-img {
  object-fit: cover;
  background-size: 60px 60px;
  border-radius: 50%;
  width: 60px;
  height: 50px;
  margin-right: 1vw;
  margin-top: 0.5vh;
}

.tech-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.flex-row {
  display: flex;
  flex-direction: row;
  margin-top: 0.5vh;
}

.footer {
  margin-top: 5vh;
  background-color:rgba(19, 18, 18, 0.795);
  border-radius: 10px;
  border: 1px solid rgba(209, 73, 157, 0.692);
  box-shadow: rgba(151, 41, 112, 0.4) 0.375rem 0.375rem 1.5rem, rgba(151, 41, 112, 0.05) -0.375rem -0.375rem 1.5rem;
  width: 20vw;
  margin-bottom: 2vh;
}

.icon {
  margin-left: 0.25vw;
  margin-right: 0.25vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  color: white;
  text-decoration: none;
  transition: color .75s;
  cursor: pointer;
}

.icon:last-child {
  margin-right: 1vw;
}

.icon:first-child {
  margin-left: 1vw;
}


.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon:hover {
  color: rgba(209, 73, 157, 0.692)
}

.info-modal-button {
  margin-bottom: 4vh;
  font-size: 2.5vh; 
  background-color:rgba(19, 18, 18, 0.795);
  border-radius: 10px;
  border: 1px solid rgba(209, 73, 157, 0.692);
  box-shadow: rgba(151, 41, 112, 0.4) 0.375rem 0.375rem 1.5rem, rgba(151, 41, 112, 0.05) -0.375rem -0.375rem 1.5rem;
  padding: 0.5vw;
  margin-top: 2vh;
  color: rgba(255,255,255,0.96);
  text-shadow: 0 0 80px rgba(192,219,255,0.48), 0 0 32px rgba(65,120,255,0.24);
  margin-right: 0.5vw;
  font-weight: bold;
}


.info-modal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  
}

/* Modal Content/Box */
.modal-content {
  width: 60vw; /* Could be more or less, depending on screen size */
  height: 20vh;

  margin: 15% auto;
  padding: 0.5vw;

  font-size: 2.5vh; 
  font-weight: bold;

  border-radius: 10px;
  border: 1px solid rgba(209, 73, 157, 0.692);

  background-color:rgba(19, 18, 18, 0.795);
  box-shadow: rgba(151, 41, 112, 0.4) 0.375rem 0.375rem 1.5rem, rgba(151, 41, 112, 0.05) -0.375rem -0.375rem 1.5rem;
  color: rgba(255,255,255,0.96);
  text-shadow: 0 0 80px rgba(192,219,255,0.48), 0 0 32px rgba(65,120,255,0.24);
}


@media only screen and (min-width: 320px) {

  .info-modal-button {
    display: none;
  }

  .header {
    width: 60vw;
  }

  .footer {
    width: 80vw;
  }

  .main-container {
    width: 96vw;
    
    background-color: transparent;
    border: none;
    box-shadow: none;
  }

  .main-options {
    margin-bottom: 1vh;
  }

  .sub-options {
    margin-bottom: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
  }

  .container-option {
    font-size: calc(min(4vh,3vw));
    width: 20vw;
  }

  .container-option.selected {
    width: 25vw;
    font-size: calc(min(5vh,4vw));
  }

  .item-container {
    height: 50vh;
    width: 92vw;
    margin-bottom: 2vh;
    margin-left: 1vw;
    margin-right: 1vw;
  }

  .subcontainer-image.selected {
    background-size: 30px 30px;
    border-radius: 50%;
    width: 30px;
  }

  .subcontainer-image {
    background-size: 30px 30px;
    border-radius: 50%;
    width: 30px;
  }

  svg {
    width: 30px;
    height: 30px;
  }

  .flex-row, .tech-name, .icon, .item-name {
    font-size: 16px;
  }

  .tech-img {
    background-size: 40px 40px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

}

@media only screen and (min-width: 400px) {

  .header {
    width: 40vw;
  }

  .footer {
    width: 80vw;
  }

  .main-container {
    width: 80vw;
    background-color: transparent;
    border: none;
    box-shadow: none;
  }

  .container-option {
    font-size: calc(min(3vh,2vw));
    width: 15vw;
  }

  .container-option.selected {
    width: 20vw;
    font-size: calc(min(4vh,3vw));
  }

  .sub-options {
    margin-top: 1vh;
  }

  .item-container {
    height: 40vh;
    width: 76vw;
    margin-top: 2vh;
  }

  .subcontainer-image.selected {
    background-size: 30px 30px;
    border-radius: 50%;
    width: 30px;
  }

  .subcontainer-image {
    background-size: 30px 30px;
    border-radius: 50%;
    width: 30px;
  }

  svg {
    width: 30px;
    height: 30px;
  }

  .flex-row, .tech-name, .icon, .item-name {
    font-size: 14px;
  }

  .tech-img {
    background-size: 40px 40px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 500px) {

  .header {
    width: 40vw;
  }

  .info-modal-button {
    display: block;
    width: 20vw;
    text-align: center;
  }
  
  .main-container {
    width: 80vw;
    background-color: rgba(19, 18, 18, 0.795);
    border-radius: 10px;
    border: 1px solid rgba(209, 73, 157, 0.692);
    box-shadow: rgba(151, 41, 112, 0.4) 0.375rem 0.375rem 1.5rem, rgba(151, 41, 112, 0.05) -0.375rem -0.375rem 1.5rem
  }

  .container-option {
    font-size: calc(min(2vh,2vw));
    width: 10vw;
  }

  .container-option.selected {
    width: 15vw;
    font-size: calc(min(3vh,2vw));
}

  .item-container {
    height: 40vh;
    width: 76vw;
  }

  .footer {
    width: 60vw;
  }

  .subcontainer-image.selected {
    background-size: 30px 30px;
    border-radius: 50%;
    width: 30px;
  }

  .subcontainer-image {
    background-size: 30px 30px;
    border-radius: 50%;
    width: 30px;
  }

  svg {
    width: 30px;
    height: 30px;
  }

  .flex-row, .tech-name, .icon, .item-name {
    font-size: 14px;
  }

  .tech-img {
    background-size: 40px 40px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
 
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  .main-container {
    width: 60vw;
  }

  .container-option {
    font-size: calc(min(2vh,2vw));
    width: 10vw;
  }

  .container-option.selected {
    width: 15vw;
    font-size: calc(min(3vh,2vw));
}

  .item-container {
    height: 40vh;
    width: 56vw;
  }

  .footer {
    width: 40vw;
  }

  .subcontainer-image.selected {
    background-size: 30px 30px;
    border-radius: 50%;
    width: 30px;
  }

  .subcontainer-image {
    background-size: 30px 30px;
    border-radius: 50%;
    width: 30px;
  }

  svg {
    width: 30px;
    height: 30px;
  }

  .flex-row, .tech-name, .icon, .item-name {
    font-size: 14px;
  }

  .tech-img {
    background-size: 40px 40px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .main-container {
    width: 60vw;
  }

  .container-option {
    font-size: calc(min(2vh,2vw));
    width: 10vw;
  }

  .container-option.selected {
    width: 15vw;
    font-size: calc(min(3vh,2vw));
}

  .item-container {
    height: 40vh;
    width: 56vw;
  }

  .footer {
    width: 40vw;
  }

  .subcontainer-image.selected {
    background-size: 30px 30px;
    border-radius: 50%;
    width: 30px;
  }

  .subcontainer-image {
    background-size: 30px 30px;
    border-radius: 50%;
    width: 30px;
  }

  svg {
    width: 30px;
    height: 30px;
  }

  .flex-row, .tech-name, .icon, .item-name {
    font-size: 14px;
  }

  .tech-img {
    background-size: 40px 40px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1024px) {

  .item-container {
    height: 35vh;
  }
  .footer {
    width: 40vw;
  }

  .subcontainer-image.selected {
    background-size: 30px 30px;
    border-radius: 50%;
    width: 30px;
  }

  .subcontainer-image {
    background-size: 30px 30px;
    border-radius: 50%;
    width: 30px;
  }

  svg {
    width: 30px;
    height: 30px;
  }

  .flex-row, .tech-name, .icon, .item-name {
    font-size: 14px;
  }

  .tech-img {
    background-size: 40px 40px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

}
